/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Sep 2023, 2:47:02 PM
    Author     : mr phantom
*/
h1{
   color: white;
   padding: 20px;
   background-color: black;
   
}
body{
    background-color: mintcream;
}

a{
    color: white;
    background-color:hsl(0,0%,25%);
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  
    
}
foster{
    color: white;
    background-color: black;
    justify-content: center;
    display: block;
    text-align: center;
   
}